h1 
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(60, 60, 65);
    border-radius: 4px;
    color: aquamarine;
    padding: 5px 10px;
    min-width: 50%;
    max-width: 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 48px;
    margin: 15px;
    border-bottom: 4px solid aquamarine;
} 
h2 
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    background-color: rgb(60, 60, 65);
    font-weight:light;
    border-radius: 4px;
    color: aquamarine;
    padding: 4px 10px;
    min-width: calc(100%/2.74)px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    min-width: 50%;
    max-width: 50%;
    margin: 4px 2px;
    border-top: 2px solid aquamarine;
    border-bottom: 2px solid aquamarine;
} 
body 
{
    background-color: rgb(60, 60, 65);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    margin:auto;
    color: white;
} 
.column {
    float: left;
    width: 30%;
    padding: 5px;
    min-height: 20px;
}

.row {
    margin: auto;
    content: "";
    clear: both;
}
.dropbtn {
    background-color: rgb(60, 60, 65);
    font-size: 30px;
    border-radius: 4px;
    min-width:342px;
    font-weight: bold;
    color: aquamarine;
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border: 4px solid aquamarine;
    transition-duration: 0.2s;
    z-index: 1;
  }
  .dropbtn:hover {
    background-color: rgb(90, 90, 95);
    margin: 4px 2px;
    color: aquamarine;
    border: 4px solid aquamarine;
    cursor:pointer;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    color: aquamarine;
    font-size:24px;
    border: 4px solid aquamarine;
    margin: auto;
    display: none;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    border-radius: 4px;
    background-color: rgb(60, 60, 65);
    overflow: auto;
    z-index: 100;
  }
  .dropdown-content a {
    text-decoration: none;
    display: block;
    padding:5px;
  }
  .dropdown-content a:hover {
    background-color: rgb(90, 90, 95);
    cursor:pointer;
  }
  .show {
    display: block;
  }
  .filter-invert {
    filter: invert(100%);
  }